html, body, input, button {
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-size: 15px;
  background-color: #34314c;
}

#map-canvas {
  height: 100%;
  margin: 0;
}

input {
  margin-bottom: 8px;
  margin-top: 5px;
  border-radius: 5px;
}


button {
  margin-top: 10px;
  margin-bottom: 20px;
  background: #47b8e0;
  border: 0;
  color: #fff;
  height: 37px;
  line-height: 37px;
  width: 102%;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background: #96C7F2;
}


#control {
  clear: left;
  float: left;
  color: #fff;
  width: 15%;
  padding: 0px 30px 10px 30px;
  border-right: 2px solid #47b8e0;
}

#control input {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 24px;
  background-color: #34314c;
  border: 1px solid #47b8e0;
}

#control p {
  line-height: 20px;
}

.dice img {
  height: 3em;
  width: 3em;
  border-radius: 10px;
  margin-top: 13.8em;
  float: left;
  clear: left;
  margin-left: -1.8em;
}

.gmaps img {
  height: 3.5em;
  width: 3.5em;
  float: right;
  clear: right;
  margin-top: -2.5em;
  padding-right: 9em;
}

.dice span {
  color: #BABABA;
  float: right;
  clear: left;
  margin-right: 1em;
}

#powered {
  display: block;
  position: relative;
  top: -4.5em;
  font-size: 0.5em;
  left: -17em;
}

.gmaps span{
  color: #BABABA;

  float: left;
  clear: right;
  position: relative;
  font-size: 0.5em;
  left: -1em;
  top: -2.8em;
}

#logo {
  height: auto;
  width: auto;
}

#logo img {
  margin-left: -0.4em;
  height: 100%;
  width: 100%;
  float: left;
  clear: left;
  margin-bottom: 2em;
}

#copyright {
  color: #BABABA;
  font-size: 0.65em;
  bottom: 2.3em;
  position: relative;
  float: right;
  right: -2.8em;
}

#githublogo img {
  height: 10%;
  width: 10%;
  position: relative;
  float: right;
  bottom: 1.5em;
  right: -1.7em;
}

form {
  position: relative;
  left: -0.5em;
}
